---
import PageHeader from "@components/PageHeader.astro";
import { getPlayersFromGameSession } from "@data/gameSessionPlayer";
import { getGameSessionScore } from "@data/score";
import AppLayout from "@layouts/AppLayout.astro";
import { Icon } from "astro-icon/components";

const { id } = Astro.params;
if (!id || isNaN(+id)) {
  return new Response("Not found", { status: 404 });
}

const score = await getGameSessionScore(+id);
const players = await getPlayersFromGameSession(+id);
const scoreData = players
  .map(({ Player }) => ({
    player: Player,
    score: score.filter((s) => s.winnerId === Player.id).length,
  }))
  .sort((a, b) => b.score - a.score);
---

<AppLayout title="Cardio | Game session score">
  <PageHeader
    title="Game session score"
    description="Who is the best player?"
  />

  <div class="mt-8">
    <p class="mb-3">
      You played a total of {score.length} games. Here is the score:
    </p>
    <section class="flex gap-10">
      {
        scoreData.map(({ player, score }) => (
          <div class="w-60 rounded border-2 px-6 py-2">
            <h2 class="text-center text-xl font-semibold">{player.name}</h2>
            <div class="mt-8 flex items-center justify-between text-xl font-bold">
              <form>
                <button class="flex h-8 w-8 items-center justify-center rounded border-2 border-red-400 hover:bg-red-50 dark:border-red-700 dark:text-white dark:hover:bg-red-950">
                  <input type="hidden" name="gameSessionId" value={id} />
                  <input type="hidden" name="playerIdMinus" value={player.id} />
                  <Icon name="minus" class="h-4 w-4" />
                </button>
              </form>
              <p>{score}</p>
              <form>
                <button class="flex h-8 w-8 items-center justify-center rounded border-2 border-lime-400 hover:bg-lime-50 dark:border-lime-700 dark:text-white dark:hover:bg-lime-950">
                  <input type="hidden" name="gameSessionId" value={id} />
                  <input type="hidden" name="playerIdPlus" value={player.id} />
                  <Icon name="plus" class="h-4 w-4" />
                </button>
              </form>
            </div>
          </div>
        ))
      }
    </section>
  </div>
</AppLayout>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  document.addEventListener("astro:page-load", () => {
    const forms = document.querySelectorAll("form");
    forms.forEach((form) => {
      form?.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        if (formData.get("playerIdPlus")) {
          const { error } = await actions.score.plus(formData);
          if (!error) navigate(window.location.pathname);
        } else if (formData.get("playerIdMinus")) {
          const { error } = await actions.score.minus(formData);
          if (!error) navigate(window.location.pathname);
        }
      });
    });
  });
</script>
